.edit
{
    background:darkcyan;
    color:#fff;
    padding:10px;
    width:80px;
}
.delete
{
    background:red;
    color:#fff;
    padding:10px;
    width:80px;
}
.submit
{
    background:dodgerblue;
    color:#fff;
    padding:10px;
    width:100px;
}
.update
{
    background: blueviolet;
    color: #fff;
    padding: 10px;
    width: 80px;
    position: relative;
    top: 685px;
    left: 66%;

}

.submitbtn
{
    background:darkcyan;
    color:#fff;
    padding:10px;
    width:100px;  
    font-size:10px;
}
.form1
{
    width: 500px;
    border: 1px solid black;
    background: #afdcff;
    padding: 10px;
    font-size:10px;
}
.main1
{
    width: 500px;
    border: 1px solid black;
    background: #f1feff;
    padding: 10px;
    color:#171ed4;
 
}
